<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>	


<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

<%= javascript_tag do %>
	<%= render :template => '/sessions/commits.js.erb' %>
<% end %>