  <% user.projects.each do |project| %>
        <div class="user-project-container">
          <% project.images.where(image_type: "cover").each do |image|%>
            <%= image_tag image.upload.url(:thumb)%>
          <%end%>
      <%= project.name %> <%= link_to 'Edit', edit_project_path(project)%>
      <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      <%end%>

