<% @user.projects.each do |project| %>
<li><%= project.name %> <%= link_to "edit", edit_project_path(project) %></li>
<% end %>
</ul>

<%= link_to 'Edit Profile', edit_user_path %>

<%= link_to 'Create a New Project', new_project_path %>
