<p><%= notice %></p>
<%= render :partial => "user_projects", :locals => {:user => @user} %>



<%= link_to 'Edit Profile', edit_user_path %>


<!-- 
_list_of_editable_projects DO NOT YET HAVE
-->

<%= link_to 'Create a New Project', new_project_path %>
