
<div class="container">

<div id="built-main-container">

<h1>Editing project: <%= @project.name %></h1>

<%= render 'edit_form' %>

<%= link_to 'Project Page', @project %> |
<%= link_to 'Back', projects_path %>

</div>
