<div class="subnav">
  <h4>Edit Project</h4>
</div>
<div class="container main">

<h3>Editing project: <%= @project.name %></h3>

<%= render 'edit_form' %>

<%= link_to 'Project Page', @project %> |
<%= link_to 'Back', projects_path %>
