<div id="built-main-container">

<<<<<<< HEAD

=======
>>>>>>> add logo placeholder, move login status, modify project index
<h1>New project</h1>


<%= render 'form' %>

<%= link_to 'Back', projects_path %>

</div>
