/*
Syntax error: Invalid CSS after "...t-align:center;": expected "}", was ""
        on line 117 of /Users/jkestler/Dropbox/flatiron/projects/built/app/assets/stylesheets/layout.css.scss

Backtrace:
/Users/jkestler/Dropbox/flatiron/projects/built/app/assets/stylesheets/layout.css.scss:117
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:1148:in `expected'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:1084:in `expected'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:1079:in `tok!'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:536:in `block'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:553:in `block_child'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/scss/parser.rb:27:in `parse'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:342:in `_to_tree'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:315:in `_render'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/sass-3.2.7/lib/sass/engine.rb:262:in `render'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `load'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/bin/compass:19:in `<main>'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `eval'
/Users/jkestler/.rvm/gems/ruby-1.9.3-p392/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...t-align:center;\": expected \"}\", was \"\"\A         on line 117 of /Users/jkestler/Dropbox/flatiron/projects/built/app/assets/stylesheets/layout.css.scss"; }
