$blue: #0088cc;

html, body {
    height: 100%;
}

h1, h2, h3{
  letter-spacing:0.05em;
}

ul li{
  list-style-type:none;
  display:inline;
}

.two-column{
  -moz-column-count:2; 
  -webkit-column-count:2;
  column-count:2;
}

body:before {
  white-space: pre;
  font-family: monospace;
  }

  body{
  margin:0px;
  padding:0px;
  }
@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

.container{
max-width:1170px;
padding-top:20px;
}

.container.main{
  padding: 20px 0 110px 0;
}

.wrapper{
  min-height:100%;
  margin-bottom:-100px;
}

.navbar{
  margin-bottom:0px;
}

.navbar .nav{
  margin:0px;
}

.navbar-inverse .nav li a{
  color:#fff;
}
.navbar-inner{color:#45a0cd;
box-shadow:0px 1px 10px #000;
border-radius:0px;}

.container{padding-top:0px}

.navbar-inner ul li{float:left;list-style-type:none;}

#built-logo{
  height: 100px;
  position: relative;
  top: 4px;
  float: left;
  padding-left: 10px;
}

#built-logo img{
  height: 140px;
  top: 10px;
  position: relative;
  z-index: 1030;
}

#built-logo a:hover{
  background-color:transparent;
}

.submitproj a{padding:10px;border-radius:10px;background-color:$blue;color:#fff}
.submitproj a:hover,
.submitproj a:visited{padding:10px;border-radius:10px;background-color:$blue;color:#fff}

#built-main-container{padding-top:150px}

.nav.login-status-text{
  float: right;
  padding: 35px 20px 0 0;
}

.nav.login-status-text li {margin-right:10px;}

.navtext{
  padding:10px 10px 0 0;
}

.project{
  padding:1.25%;
  display:inline-block;
  height:300px;
  margin-bottom:30px;
  margin-left: 0px;
  color:#999;
  text-align:center
}

.project:nth-child(3n+3){
  padding-right:0px;
}

.row-fluid {
  padding-left:2.25%;
}

.row-fluid [class*="span"]{
  margin-left:0px;
}

.cover-image{
height:204px;box-shadow:inset 0px 0px 60px #ccc, 0px 2px 6px #999;
background-color:#ccc;border-radius:2px;
border:10px solid #fff;
height:203px;overflow:hidden;
}

.cover-image img{display:block;margin:0 auto;width:100%;display:inline-block;}.project h4{text-align:center;color:#ccc}

.project h4 a{color:$blue}.project h5{text-align:center}

.box{border:2px solid red;padding:10px}.project-gallery{border:2px solid green;padding:10px}

.gallery-row{border:2px solid blue;padding:10px;width:940px}


.person{
  height:200px;
}

.person img{
  display:block;
  border:4px solid #fff;
  box-shadow:inset 0px 0px 60px, 0px 2px 6px #999;
}

div.vignette {
  position: relative;
}
div.vignette img {
 display: block;
}
/*div.vignette:after {
 -moz-box-shadow: inset 0 0 10em #666;  
 -webkit-box-shadow: inset 0 0 10em #666;   
 box-shadow: inset 0 0 10em #666;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}*/


.jumbotron{
  background:url(bluewash.png) no-repeat center center;
  background-size:cover;
  margin-top:-10px;
  border-top:1px solid #000;
}

.jumbotron h1{
  color:#fff;
  padding: 30px 0 50px 0;
}

.subnav{
position: relative;
padding: 12px 0 5px 0;
background-color: #535352;
text-align: center;
color: white;
font-style: italic;
box-shadow: inset 0 0px 40px rgb(61, 61, 61);
z-index: 0;
}

.subnav h1{
  font-style:normal;
  font-size:30px;
}

.contacts_nav{
  margin-top:10px;
  margin-left:0px;
}

.icon{
  font-size:1.5em;
}

.icon:hover{
  text-decoration:none;
  background-color:transparent;
}

.contacts_nav a:hover{
  text-decoration:none;
  background-color:transparent;
}

.icon-twitter:hover{
  color:#4099ff;
}
.icon-facebook:hover{
  color:#3b5998;
}

.icon-github:hover{
  color:#333;
}

.icon-linkedin:hover{
  color:#5b9ac3;
}

#sort {
 text-align:right;
 padding-right: 30px;
}

footer{
  bottom:0px;
  height:100px;
  width:100%;
  padding: 35px 0 5px 0;
  background-color: rgb(83, 83, 82);
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0px 261px rgba(0,0,0, 1);
}

footer h4{
  font-style: italic;
}

footer ul li{
color:#fff;
padding-right:20px;
}

footer ul li a{
  color:#45a0cd;
}
footer ul li a:hover{
color:#fff;
text-decoration:underline;
background-color:transparent;
}


#my_filter{
  float: left;
margin-top: 6px;
margin-left: 10px;
}

#filter_point{
  margin-bottom:30px;
}

.tab-content{
  overflow:hidden;
}

hr{
  margin:50px 20px;
}

/*-------media queries---------------*/

@media all and (max-width: 768px){
  .navbar .container {
  margin: 0 auto;
  width: 70%;
  }
  #built-logo{
  width:200px;
  margin: 0 auto;
  top: 4px;
  float:none;
  }
  .navbar:after{
  clear:both;
  }
  .nav.login-status-text{
  width:100%;
  margin:0 auto;
  text-align:center;
  padding-right:0px;
  }
  .navbar-inner ul li{
  list-style-type: none;
  padding-right: 20px;
  margin: 0 auto;
  display: block;
  width: 90%;
  }
  .row-fluid{
  padding-left:0px;
  }
}