

.two-column{
  -moz-column-count:2; 
  -webkit-column-count:2;
  column-count:2;
}

body:before {
  white-space: pre;
  font-family: monospace;
  }
@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

.container{
max-width:1100px;
padding-top:20px;
}

.navbar-inner{color:#45a0cd;
box-shadow:0px 1px 10px #000}

.container{padding-top:0px}

.navbar-inner ul li{float:left;list-style-type:none;padding-right:20px}

#built-logo{
height: 115px;
position: relative;
top: 4px;
float:left;
}

#built-logo img{
  height: 140px;
  top: 14px;
  position: relative;
}

#built-logo a:hover{
  background-color:transparent;
}

.submitproj a{padding:10px;border-radius:10px;background-color:#0088cc;color:#fff}
.submitproj a:hover,
.submitproj a:visited{padding:10px;border-radius:10px;background-color:#0088cc;color:#fff}

#built-main-container{padding-top:150px}

.nav.login-status-text{float:right;padding-right:20px;padding-top:70px}

.project{padding:10px;
display:inline-block;
height:300px;
margin-bottom:30px;
color:#999;
text-align:center}

.cover-image{height:204px;box-shadow:inset 0px 0px 60px #ccc, 0px 2px 6px #999;background-color:#ccc;border-radius:2px;border:10px solid #fff;height:203px;overflow:hidden}

.project img{display:block;margin:0 auto;width:100%;display:inline-block;}.project h4{text-align:center;color:#ccc}

.project h4 a{color:#0ba7f5}.project h5{text-align:center}

.box{border:2px solid red;padding:10px}.project-gallery{border:2px solid green;padding:10px}

.gallery-row{border:2px solid blue;padding:10px;width:940px}


.person{
  height:200px;
}

.person img{
  display:block;
  border:4px solid #fff;
  box-shadow:inset 0px 0px 60px, 0px 2px 6px #999;
}

div.vignette {
  position: relative;
}
div.vignette img {
 display: block;
}
/*div.vignette:after {
 -moz-box-shadow: inset 0 0 10em #666;  
 -webkit-box-shadow: inset 0 0 10em #666;   
 box-shadow: inset 0 0 10em #666;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 2;
 content: "";
}*/


.jumbotron{
  background:url(bluewash.png) no-repeat center center;
  background-size:cover;
  margin-top:-10px;
}

.jumbotron h1{
  color:#fff;
  padding: 30px 0 50px 0;
}

.subnav{
  position: relative;
padding: 125px 0 5px 0;
background-color: rgb(83, 83, 82);
text-align: center;
color: rgb(255, 255, 255);
font-style: italic;
box-shadow: inset 0 0px 261px rgba(0,0,0, 1);
}

.subnav h1{
  font-style:normal;
  font-size:30px;
}

.contacts_nav{
  margin-top:10px;
  margin-left:0px;
}

.icon{
  font-size:1.5em;
}

.icon:hover{
  text-decoration:none;
  background-color:transparent;
}

.contacts_nav a:hover{
  text-decoration:none;
  background-color:transparent;
}

.icon-twitter:hover{
  color:#4099ff;
}
.icon-facebook:hover{
  color:#3b5998;
}

.icon-github:hover{
  color:#333;
}

.icon-linkedin:hover{
  color:#5b9ac3;
}

/*-------media queries---------------*/

@media all and (max-width: 768px){
  .navbar .container {
  margin: 0 auto;
  width: 70%;
  }
  #built-logo{
  width:200px;
  margin: 0 auto;
  top: 4px;
  float:none;
  }
  .navbar:after{
  clear:both;
  }
  .nav.login-status-text{
  width:100%;
  margin:0 auto;
  text-align:center;
  padding-right:0px;
  }
  .navbar-inner ul li{
  list-style-type: none;
  padding-right: 20px;
  margin: 0 auto;
  display: block;
  width: 90%;
  }
}
