<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@import url(http://fonts.googleapis.com/css?family=Sintony:400,700);

.container{
  padding-top:130px;
  max-width:1100px;
}

.navbar-inner{
  color:#45a0cd;
  height:110px;
  box-shadow: 0px 1px 10px #000;
}

.navbar-inner .container{
  padding-top:0px
}

.navbar-inner ul li{
  float:left;
  list-style-type:none;
  padding-right:20px;
}

#built-logo{
 /* background-image:url(image_path('cat-logo.jpg')); 
 background:url(image_path('logo_160.png')) no-repeat;*/
  height:160px;
  margin:5px;
}

#built-logo img{
  height: 160px;
position: relative;
top: -1px;
left: -72px;
}

.submitproj a{
  padding: 10px;
border-radius: 10px;
background-color: #0088cc;
color: #fff;
}

.submitproj a:hover, .submitproj a:visited{
  padding: 10px;
border-radius: 10px;
background-color: #0088cc;
color: #fff;
}

#built-main-container{
  padding-top:30px;
}

.login-status-text{
float: right;
padding-right: 20px;
padding-top: 70px;
}

.project{
  padding:10px;
  display:inline-block;
  height:300px;
  margin-bottom:30px;
  color:#999;
  text-align:center;
}

.cover-image{
  height: 204px;
  box-shadow: inset 0px 0px 60px #ccc, 0px 2px 6px #999;
  background-color: #ccc;
  border-radius: 2px;
  border:10px solid #fff;
  height:203px;
  overflow:hidden;
}
.project img{
  display:block;
  margin:0 auto;
  width:100%;
=======
=======
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
.container-fluid{
  padding-top:50px;
}

.navbar-inner{
  color:#ff0000;
  height:110px;
}

#built-logo{
  background-image:url(image_path('cat-logo.jpg'));
  height:100px;
  width:220px;
  margin:5px;
}

#built-main-container{
  padding-top:50px;
}

.login-status-text{
  float:right;
  padding-right:10px;
}

.project{
  border:2px solid black;
  padding:10px;
  width:275px;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
  display:inline-block;
  margin:5px;
}

.project h4{
  text-align:center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  color:#ccc;
}

.project h4 a{
 color:#0ba7f5;
/*color:#317191; */
=======
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
}

.project h5{
  text-align:center;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

}
=======
=======
>>>>>>> add logo placeholder, move login status, modify project index
=======
>>>>>>> add logo placeholder, move login status, modify project index
}

.box{
  border:2px solid red;
  padding:10px;
}

.project-gallery{
  border:2px solid green;
  padding:10px;
}

.gallery-row{
  border:2px solid blue;
  padding:10px;
  width:940px;
}

.cover-image{
  border:2px solid orange;
  padding:10px;
<<<<<<< HEAD
<<<<<<< HEAD
}
>>>>>>> add logo placeholder, move login status, modify project index
=======
}
>>>>>>> add logo placeholder, move login status, modify project index
=======
}
>>>>>>> add logo placeholder, move login status, modify project index
